.selected-file-card {
  border-radius: 3px;
  width: 38px;
  height: 45px;
}
.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.embed-other-files {
  pointer-events: none;
  scrollbar-width: none;
  border: none;
  width: 100%;
  height: 100%;
}

.file-details {
  width: 60%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.action-buttons {
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
